* {
    box-sizing: border-box;

}

.responsive {
    width: 100%;
    height: auto;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown>.dropbtn:focus+.dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.sample {
    color: #52CFE3;
    color: #DFDFDF;
    color: #223B45;
    color: #FF9100;
}