* {
    box-sizing: border-box;

}

.responsive {
    width: 100%;
    height: auto;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* #52CFE3
#DFDFDF
#223B45
#FF9100 */